.nav{
    padding: 1em;
}

.nav p{
    font-family: Arial;
    font-size: 16px;
}
b::selection{
    background-color: coral;
    color: white;
}
p::selection{
    background-color: coral;
    color: white;
}



#Parrafo{
    font-size: 32px;
}



.juegos{
    display: flex;
}
h3{
    height: 0.5em;
}

.Sky_Game{
    margin-right: 1em;
    width: 160px;
}
#Sky{
    width: 160px;
}

.Minecraft_Game{
    margin-right: 1em;
    width: 160px;
}
#Minecraft{
    width: 160px;
}

.COD_Game{
    margin-right: 1em;
    width: 160px;
}
#COD{
    width: 160px;
}

.LoLWR_Game{
    margin-right: 1em;
    width: 160px;
}
#LoLWR{
    width: 160px;
}

.Genshin_Game{
    margin-right: 1em;
    width: 160px;
}
#Genshin{
    width: 160px;
}

.LoL_Game{
    margin-right: 1em;
    width: 160px;
}
#LoL{
    width: 160px;
}

.Pubg_Game{
    margin-right: 1em;
    width: 160px;
}
#Pubg{
    width: 160px;
}